<ul>
	<li><%= link_to "Rings", '#' %></li>
	<li><%= link_to "Pendants", '#' %></li>
	<li><%= link_to "Earrings", '#' %></li>
	<li><%= link_to "Necklaces", '#' %></li>
	<li><%= link_to "Antique Jewellery", '#' %></li>
	<li><%= link_to "For Him", '#' %></li>
	<li><%= link_to "Miscellaneous", '#' %></li>
</ul>
