<ul>
	<li><%= link_to "Rings", store_path(:category => "Ring") %></li>
	<li><%= link_to "Pendants", store_path(:category => "Pendant") %></li>
	<li><%= link_to "Earrings", store_path(:category => "Earring") %></li>
	<li><%= link_to "Necklaces", store_path(:category => "Necklace") %></li>
	<li><%= link_to "Antique Jewellery", store_path(:category => "Antique Jewellery") %></li>
	<li><%= link_to "For Him", store_path(:category => "For Him") %></li>
	<li><%= link_to "Miscellaneous", store_path(:category => "Miscellaneous") %></li>
</ul>
