<div class="span-24">
	<div class="span-18">
		<div class="span 18">
			<div class="span-12">
				<%= link_to antique_jewellery, '#' %>
			</div>

			<div class="span-6 last">
				<%= link_to loose_gems, '#' %>
			</div>

		</div>

		<div class="span-18">
			<div class="span-6">
				<%= link_to engagement_ring, '#' %>
			</div>

			<div class="span-12 last">
				<%= link_to diamonds_about, '#' %>
				
				<div class="span-6">
					<%= link_to catalogue, '#' %>
				</div>	
				
				<div class="span-6 last">
					<%= link_to find_us, '#' %>
				</div>	
			</div>
		</div>
	</div>

	<div class="span-6 last">
		<%= link_to custom_service, '#' %>
	</div>
</div>

