<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>

<h2>All products</h2>
<% @products.each do |product| %>
<div class="entry">
	<%= link_to image_tag(product.image_url), product %>
	<div class="desc">
		<%= sanitize product.description %>
	</div>
	<div class="price_line">
		<span class="price"><%= number_to_currency(product.price) %></span>
	</div>
</div>
<% end %>

<p>
	<%= will_paginate @products %>
</p>