<header>
	<div class="span-24">
		<%= link_to logo, root_path %>
	</div>
    <nav class="round">
    	<ul id="nav">
    		<li><%= link_to "Shop Online", '#' %>
    			<%= render 'menus/shop_menu' %>		
    		</li>
    		<li><%= link_to "Contact", contact_path %></li>
	    	<li><%= link_to "About", "#" %></li>
	    	<li><%= link_to "Sign in", "#" %></li>
    	</ul>
    </nav>
</header>