<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= title %></title>
		<%= javascript_include_tag "application" %>
		<script type="text/javascript" src="/js/web.js?m=20100203"></script>
		<%= render 'layouts/stylesheets' %>
		<script type="text/javascript" src="/jquery.fancybox-1.3.4.pack.js"></script>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section>
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
